body {
	font-family: Tahoma,Verdana,Helvetica,sans-serif;
	font-weight: normal;
	font-size: 12px;
	margin: 0;
	padding: 0;
}

#welcome {
  width: 624px;
  height: 264px;
  background: url(../images/oracleRedPlane.jpg) no-repeat scroll top left;
  color: #fff;
  padding: 8px;
  margin: 0;
}

#content {
  margin: 2px auto;
  width: 640px;
  border: 1px solid #444;
  padding: 0;
}

#content p {
	padding: 2px 4px;
	margin: 0;
}

#manage {
	padding: 4px;
}

.ctrlrow {
	overflow: hidden;
	width: 99%;
	margin: 2px;
}

.ctrlrow label {
	display: block;
	float: left;
	width: 90px;
	font-weight: bold;
	padding-top: 2px;
}

.ctrlrow input {
	display: block;
	float: left;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 99%;
	margin: 2px;
}

td, th {
	padding: 2px 8px;
	border: 1px solid #eee;
}

th {
	text-align: left;
}
